In [3]:
import pandas as pd

file_path = r'C:\Users\Aashir\Desktop\Pokemon.csv'
df = pd.read_csv(file_path)
df['Total'] = df['HP']+df['Attack']+df['Defense']+df['Sp. Atk'] +df['Sp. Def']+df['Speed']

df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [11]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

In [13]:
new_df.to_csv(r'C:\Users\Aashir\Desktop\Filtered.csv')

In [14]:
new_df = new_df.reset_index()

In [15]:
new_df

,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
1,3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
2,50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
3,77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
4,652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False